@import url('./global.css');

/* MENU */
.menu {
	padding: 24px 0;
	background: #ffffff;
}

.menu__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-logo__img {
	display: block;

	height: 64px;
	width: 64px;
}

.menu__button {
	padding: 6px 36px 6px 6px;

	font-weight: 400;

	text-align: left;

	display: flex;
	align-items: center;
	gap: 15px;

	color: #ffffff;
}

.menu-button__icon {
	height: 52px;
	width: 52px;
}

.menu-button__number {
	font-size: 22px;
	line-height: 1.3em;
}

.menu-button__text {
	margin-top: 2px;

	font-size: 13px;
	line-height: 1.2em;
}

/* HEADER */
.header {
	min-height: calc(100vh - 112px);

	display: flex;
	align-items: center;

  position: relative;

	background: #181818;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__burger {
  padding: 0;

  position: absolute;
  top: 54px;

  border: 0;
  background: transparent;
  cursor: pointer;
}

.header-burger__icon {
  display: block;

  height: 28px;
  width: 68px;
}

.header__title {
	max-width: 960px;

	font-weight: 600;

	font-size: 54px;
	line-height: 1.1em;

	color: #ffffff;
}

.header__text {
	margin-top: 24px;

	font-weight: 400;

	font-size: 32px;
	line-height: 1.2em;

	color: #ffffff;
}

.header__text span {
	font-weight: 600;

	color: #d9b385;
}

.header__buttons {
	margin-top: 54px;

	display: flex;
	gap: 14px;
}

.header__button {
	padding: 30px 34px;

	color: #ffffff;
}

.header__img {
	height: 472px;
	width: 472px;
}

/* TRIGGERS */
.triggers {
	margin: 120px 0;
}

.triggers__container {
	max-width: 1126px;
}

.triggers__title {
	font-weight: 600;

	font-size: 46px;
	line-height: 1.2em;

  text-align: center;
}

.triggers__list {
	margin-top: 54px;

	display: flex;
	justify-content: space-between;
	gap: 64px;
}

.triggers__item {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.trigger-item__title {
	font-weight: 500;

	font-size: 24px;
	line-height: 1.2em;

	color: #d9b385;
}

.trigger-item__title span {
	font-weight: 700;

	font-size: 62px;
	line-height: 1.2em;
}

.triggers-item__text {
	margin-top: 14px;
	max-width: 345px;

	font-weight: 500;

	font-size: 19px;
	line-height: 1.2em;
}
